# Customer Operation

In [ ]:
USE [DBI202_Group2_FlightMgmt];
GO

## Get the customer information

From `Passengers` table, get the `PassengerID` from any part of the name, email, and passport.

In [ ]:
DECLARE @name NVARCHAR(MAX);
DECLARE @mail NVARCHAR(255);
DECLARE @passport NVARCHAR(255);

SET @name = 'Charles';
SET @mail = 'CharlesDCartagena@rhyta.com';
SET @passport = '435678564';

SELECT p.PassengerID
    FROM Passengers AS p
    WHERE (FirstName LIKE '%' + @name + '%' OR LastName LIKE '%' + @name + '%')
        AND Email = @mail
        AND PassportNum = @passport

## Get Seat information

From `AvailSeatPerAirlines` view, get `SeatID` based on range of Price, range of DepartTime, Departure and Arrival Airport (in ICAO).

Print out the seat ID and seat price. Order in price

In [ ]:
DECLARE @upperPrice MONEY = 100;
DECLARE @lowerPrice MONEY = 0;
DECLARE @lowerDepart DATETIME2 = '2025-11-04 00:00:00';
DECLARE @upperDepart DATETIME2 = '2027-11-02 00:00:00';
DECLARE @depICAO VARCHAR(4) = 'KBOS';
DECLARE @arrICAO VARCHAR(4) = 'EHAM';

IF @lowerPrice > @upperPrice
BEGIN
    DECLARE @tmpPrice MONEY = @lowerPrice;
    SET @lowerPrice = @upperPrice;
    SET @upperPrice = @tmpPrice;
END

IF @lowerDepart > @upperDepart
BEGIN
    DECLARE @tmpDT DATETIME2 = @lowerDepart;
    SET @lowerDepart = @upperDepart;
    SET @upperDepart = @tmpDT;
END

SELECT
    a.SeatID,
    a.Price,
    a.DepartTime,
    a.DepartICAO,
    a.ArrICAO
FROM AvailSeatPerAirlines AS a
WHERE a.Price BETWEEN @lowerPrice AND @upperPrice
  AND a.DepartTime BETWEEN @lowerDepart AND @upperDepart
  AND a.DepartICAO = @depICAO
  AND a.ArrICAO = @arrICAO
ORDER BY a.Price ASC;

## Call procedure to book a seat in a flight

Using `BookNewFlight` procedure to book a new seat in a flight

In [ ]:
DECLARE @PassengerID UNIQUEIDENTIFIER;
DECLARE @SeatID UNIQUEIDENTIFIER;
DECLARE @PriceAsInput MONEY;

SET @PassengerID = '28d71fa5-3364-44df-ab76-0c89681370ff';
SET @SeatID = '6f1516d1-c70c-4edb-b574-0eaf35ee8600';
SET @PriceAsInput = 50;

EXEC BookNewFlight @PassengerID, @SeatID, @PriceAsInput;