# Customer Operation

In [ ]:
USE [DBI202_Group2_FlightMgmt];
GO

## Get the customer information

From `Passengers` table, get the `PassengerID` from any part of the name, email, and passport.

In [ ]:
DECLARE @name NVARCHAR(MAX);
DECLARE @mail NVARCHAR(255);
DECLARE @passport NVARCHAR(255);

SET @name = 'Charles';
SET @mail = 'CharlesDCartagena@rhyta.com';
SET @passport = '435678564';

SELECT p.PassengerID
    FROM Passengers AS p
    WHERE (FirstName LIKE '%' + @name + '%' OR LastName LIKE '%' + @name + '%')
        AND Email = @mail
        AND PassportNum = @passport

## Get Seat information

From `AvailSeatPerAirlines` view, get `SeatID` based on range of Price, range of DepartTime, Departure and Arrival Airport (in ICAO).

Print out the seat ID and seat price. Order in price

In [9]:
DECLARE @upperPrice MONEY;
DECLARE @lowerPrice MONEY;
DECLARE @upperDepart DATETIME;
DECLARE @lowerDepart DATETIME;
DECLARE @depICAO VARCHAR(4);
DECLARE @arrICAO VARCHAR(4);

SET @upperPrice = 100;
SET @lowerPrice = 0;
SET @upperDepart = '2025-11-04 00:00:00';
SET @lowerDepart = '2025-11-02 00:00:00';
SET @depICAO = 'KBOS';
SET @arrICAO = 'EHAM';

SELECT a.SeatID, a.Price
    FROM AvailSeatPerAirlines AS a
    WHERE (a.Price >= @lowerPrice AND a.Price <= @upperPrice)
        AND (a.DepartTime BETWEEN @lowerDepart AND @upperDepart)
        AND (a.DepartICAO = @depICAO AND a.ArrICAO = @arrICAO)
    ORDER BY a.Price;

SeatID,Price
6f1516d1-c70c-4edb-b574-0eaf35ee8600,50.00